<div id="circularMenu" 
  [class]="circularMenuPosition === 'Right' ? 'circular-menu' : 'circular-menu circular-menu-left' ">

  <a class="floating-btn" onclick="document.getElementById('circularMenu').classList.toggle('active');">
    <i>
        <mat-icon>settings_applications</mat-icon>
    </i>
  </a>

  <menu class="items-wrapper">
    <a (click)="sidebarModeChange()" [matTooltip]="toolTipText" class="menu-item">
        <mat-icon *ngIf="sidenavIndex==0">mobile_screen_share</mat-icon>
        <mat-icon *ngIf="sidenavIndex==1">panorama_wide_angle</mat-icon>
        <mat-icon *ngIf="sidenavIndex==2">trending_flat</mat-icon>
    </a>
    <a href="#" class="menu-item"></a>
    <a href="#" class="menu-item"></a>
    <a href="#" class="menu-item"></a>
  </menu>

</div>


<!--div id="circularMenu1" class="circular-menu circular-menu-left active">

  <a class="floating-btn" onclick="document.getElementById('circularMenu1').classList.toggle('active');">
    <i class="fa fa-bars"></i>
  </a>

  <menu class="items-wrapper">
    <a href="#" class="menu-item fa fa-home"></a>
    <a href="#" class="menu-item fa fa-user"></a>
    <a href="#" class="menu-item fa fa-pie-chart"></a>
    <a href="#" class="menu-item fa fa-cog"></a>
  </menu>

</div-->