 
  <div class="docs-component-viewer-nav-content">

    <nav *ngFor="let item of navigationModel; let i=index">
      <button (click)="navMenuBarClick(i)" class="docs-nav-content-btn">
        <span>{{item.caption}}</span>
        <span class="navigator1">
        <mat-icon *ngIf="item.treeModel != null && item.treeModel.length > 0" >{{navigationListIconStatus[i] === 'down' ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}</mat-icon>
      </span>
      </button>
       
      <ul [class]="navListContentStatus[i]">
        <li><a > Autocomplete </a></li>
      </ul>
      <hr>
    </nav>

  </div>
 