.docs-component-viewer-nav-content {
    margin: 10px;
    width: 240px;
    overflow: auto;
}

.docs-nav-content-btn {
    padding: 8px;
    font-weight: 700;
    line-height: 16px;
    margin: 0;
    font-size: 13px;
    cursor: pointer;
    position: relative;
     
    width: 100%;
    text-align: left;
    background: 0 0;
    border: none;

    display: flex;
    justify-content: space-between;
}

.docs-nav-content-btn:hover {
  background-color: RoyalBlue;
}

.nav-content-hide {
  height: 10px;
  display: none;
}

.nav-content-show {
  height: 10px;
  display: '';
}