<div>
  <div class="docs-component-viewer-nav-content">

    <nav class="">
      <button class="docs-nav-content-btn">
        Form Controls 
        <mat-icon role="img" aria-hidden="true">keyboard_arrow_down</mat-icon>
      </button>
      <div></div>
      <ul style="height: 10px; display: '';">
        <li><a class=""> Autocomplete </a></li>
      </ul>
      <hr>
    </nav>

    <nav>
      <button class="docs-nav-content-btn"> Navigation 
      <mat-icon   role="img" aria-hidden="true">keyboard_arrow_down</mat-icon></button>
      <ul class="" style="height: 10px; display: none;">

        <li><a href="#"> Menu </a></li>
      </ul>

      <hr>
    </nav>

  </div>
</div>