<div class="application-container" [class.application-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="application-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="fill-remaining-space"></span>
    <span (click)="onLoginClick()" style="cursor: pointer"><i matTooltip="Login" class="material-icons">input</i></span>

    <button mat-button [matMenuTriggerFor]="menu"><i matTooltip="Language" class="material-icons">language</i></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onLanguageChange('en_US')" >English</button>
      <button mat-menu-item  (click)="onLanguageChange('fa_IR')">Farsi</button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container [dir]="direction" class="application-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : sidenavMode" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <app-menu-tree></app-menu-tree>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <app-circular-menu (sidenavModeChanged)="sidenavModeChange($event)" [circularMenuPosition]="circularMenuPosition">
      </app-circular-menu>
    </mat-sidenav-content>

  </mat-sidenav-container>

  <mat-toolbar class="application-footer" color="background">

  </mat-toolbar>
</div>